@use '../../assets/sccs/mixins' as m;
@use '../../assets/sccs/functions' as f;

.main {
  padding: 0 0.5rem;

  @include m.media(md) {
    padding: 0 1rem;
  }

  &__nav-list {
    font-weight: 700;
    margin: 0 auto 1rem;
    display: flex;
    min-width: 15rem;
    width: 30%;
    justify-content: space-between;

    @include m.media(md) {
      font-size: 1.125rem;
      margin-bottom: 2rem;
    }
  }

  &__nav-item {
    cursor: pointer;

    &_active {
      color: f.color(MAIN_ACCENT);
    }
  }

  &__table {
    border-collapse: collapse;
    border: 1px solid f.color(MAIN_ACCENT);
    font-size: 0.9em;
    width: 100%;
  }

  &__thead {
    background: f.color(MAIN_ACCENT);
    color: white;
    text-align: left;
  }

  &__tr {
    border-bottom: 1px solid f.color(MAIN_ACCENT);
  }

  &__th {
    padding: 0.5rem 0.75rem;
  }

  &__td {
    cursor: pointer;
    padding: 0.75rem 1rem;
  }
}