@use '../../assets/sccs/functions' as f;
@use '../../assets/sccs/mixins' as m;

.header {
  background: f.color(GREY_BLACK5);
  color: f.color(MAIN_ACCENT);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 1.25rem 1rem;
  margin-bottom: 2rem;

  @include m.media(md) {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
  }

  &__cryptocurrency {
    @include m.media(md) {
      display: inline;
      margin-right: 1.5rem;
    }
  }

  &__price {
    display: inline-block;
    margin-left: 0.25rem;
    color: red;
    font-weight: 400;
  }
}