@use 'assets/sccs/fonts';
@use 'assets/sccs/functions' as f;
@use 'assets/sccs/mixins' as m;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  color: f.color(MAIN_DARK);
  font-family: 'Montserrat', sans-serif;
  max-width: 69.375rem;
  margin: 0 auto;
}